form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-family:Arial, Helvetica, sans-serif;
    width: 550px;
    border-radius: 15px;
    border: 2px solid rgb(141, 29, 48) ;
    margin-bottom: 15px;
    padding-bottom: 10px;
    background-color: rgb(171, 172, 172);
    
}

input{
    width: 150px;
    height: 20px;
    color: rgb(17, 93, 50);
    border-radius: 5px;
    border: none;
}

label{
    font-weight: 600;
}

.formText{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

p{
    font-weight: 600;
    font-size: larger;
}

h2{
    color: rgb(99, 72, 72);
}

button{
    width: 100px;
    font-size: medium;
    border-radius: 5px;
    border: solid rgba(109, 85, 220, 0.958);
    background-color: #647feb;
}

button:active{
    transform: scale(0.9);
}
button:hover{
    transform: scale(1.1);
}
#CV{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exportbtn{
    background-color: aqua;
}